body {
	/*background-color: #355379;*/
	background-color: #2C486E;
	background: url(Images/Background2.png) repeat-y;
    /*background-image: -moz-linear-gradient(60% 100% 315deg, #2C486E, #5C789E);
    background-image: -webkit-gradient(linear, right bottom, left top, from(#5C789E), to(#2C486E));
    background-repeat: no-repeat;*/
	font: normal 10pt Tahoma, Calibri, Verdana;
	color: #FFFFFF;	
}

textarea:focus {
    background-color: #FFFFDD;
}

input[type=text]:focus {
    background-color: #FFFFDD;
}

input[type=password]:focus {
    background-color: #FFFFDD;
}

select:focus {
    background-color: #FFFFEE;
    border: solid 1px #355379;
}

input[type=text] {
    background-color: White;
    border: solid 1px #355379;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

textarea {
    background-color: White;
    border: solid 1px #355379;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

input[type=password] {
    background-color: White;
    border: solid 1px #355379;
    border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

select:disabled {
    color: #666666;
}

span[id*=lblActual] {
    color: #0000CC;
}

table {
    border-collapse:collapse;
}

a {
	color: #EEEEEE;
}

a:hover {
    color: White;
}

.gvMnuHeader {
    background:#842829;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #B45859), color-stop(0.66, #842829), color-stop(0.80, #943839), color-stop(0.92, #E48889));
    background-image: -moz-linear-gradient(center bottom, #B45859 10%, #842829 66%, #943839 80%, #E48889 92%);
    border: solid 2px #842829;
    text-align:center;
}

#tblMain {
    width: 100%;
}

#tblMain td {
    /*border-right: solid 1px white;*/
    padding-right: 5px;
}

#tblMain input {
    width: 95%;
}

.FormTitle {
    text-align: center;
    background-color:#842829;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #B45859), color-stop(0.66, #842829), color-stop(0.80, #943839), color-stop(0.92, #F49899));
    background-image: -moz-linear-gradient(center bottom, #B45859 10%, #842829 66%, #943839 80%, #F49899 92%);
	padding: 5px 0px 5px 0px;
	font-size:large;
	font-weight:bolder;
    border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	box-shadow: 5px 5px 5px #000000;
    -moz-box-shadow: 5px 5px 5px #000000;
    -webkit-box-shadow: 5px 5px 5px #000000;
}

.centered {
    text-align:center;
}

.smalltitle {
    text-align: center;
    background-color:#788CA5;
	padding: 5px 0px 5px 0px;
	border: 1px solid #FFFFFF;
	color: white;
	font-weight:bold;
}

.message {
    font-size: 12pt;
    color: Yellow;
    text-align:center;
}

#dvMenu {
    width:200px;
}

.MenuItem {
    background-color: #DDDDDD;
    border-bottom: solid 1px white;
    background-image: -webkit-gradient(linear, 30 0, 30 30, from(#EEEEEE), to(#BBBBBB));
    background-image: -moz-linear-gradient(bottom, #BBBBBB, #EEEEEE);
}

.MenuItem:hover {
    background-color: #5C799D;
    background-image: -webkit-gradient(linear, 30 0, 30 30, from(#EEEEEE), to(#3C597D));
    background-image: -moz-linear-gradient(bottom, #3C597D, #EEEEEE);
}

.MenuItem a {
    -webkit-transition: all 400ms ease-in-out;
    margin-left: 0px;
    color: Black;
}

.MenuItem:hover a {
    margin-left: 10px;
    color: White;
}

.MenuItemSelected {
    background-color: Transparent;
    border-left: solid 2px #999999;
    border-top: solid 2px #999999;
    border-bottom: solid 2px #999999;
}

.MenuItemSelected a {
    color: White;
}

.TabMenuItem {
    /*background: url(Images/GrayButton.png) repeat-x;
    background: url(Images/TabBackImage.png) repeat-x;*/
    border: none 0px;
    padding: 0px 2px 0px 0px;
}

.TabMenuItemSelected {
    height:25px;
    background-color:#355379;
    color: black;
    border: none 0px;   
    padding: 0px 20px 0px 0px;
}

#mnuHeader {
    vertical-align:bottom;
    width: 100%;
}

.tblInset{
    border: inset 2px white; 
    background-color: #586C85;
}

.Yellow {
    color:Yellow;
}

#mnuMain {
 /*   border-left: solid 2px white;
    border-top: solid 1px white;*/
    border-bottom: solid 10px #842829;
}

#mnuInterMediate {
/*    border-right: solid 2px white;
    border-bottom: solid 1px white;*/
    width: 100%;
}

#tdMessage
{
    font-size:large;
    color:Yellow;
    text-align:center;
}

#subPageMainTable {
    width:95%;
    border-collapse:separate;
}

.ErrorMessage {
    color: Yellow;
}

.InsertRow {
    background-color: #D2B48C; /*This is the colour 'Tan'*/
}

.InsertHeader {
    background-color: #355379;
    color:White;
    font-weight:bold;
}

.InsertTabHeader {
    background-color: #233D63;
    color:White;
    font-weight:bold;
}

.gvRow {
	height:30px;
}

.gvRow2 {
	height:24px;
}

#tdSubMenu{
	text-align:left;
}

#tdSubMenu a {
    color: #AAAAAA;
}

#tdSubMenu a:hover {
    color:White;
}


#tdSubMenu table {
    width:0%;
}

#tblDetails{
	 width:100%;
}

.tblDetailsHeader {
	background-color: #EAEAEA;
	color: Black;
	text-align:left;
	width:0%;
	white-space:nowrap;
	border:solid 1px #2C486E;
}

.tblDetailsItem {
	background-color: white;
	color: Black;
	width:50%;
	padding-left: 10px;
	text-align:left;
	border:solid 1px #2C486E;
}

#tdAttachments a{
    color:black;
}

#tdAttachments a:hover{
    color:#842829;
}

#tdMeetings a{
    color:black;
}

#tdMeetings a:hover{
    color:#842829;
}

#tdAP a{
    color:black;
}

#tdAP a:hover{
    color:#842829;
}

#tdProgress a{
    color:black;
}

#tdProgress a:hover{
    color:#842829;
}

#tblCngPass {
    /*background-color: #E4E4C0;*/
    width:470px;
    border-top: solid 3px #CCCCCC;
    border-left: solid 3px #CCCCCC;
    border-right: solid 3px #999999;
    border-bottom: solid 3px #999999;
    color:Black;
}

.RedDate {
    color: Red;
    font-weight:bold;
}

.BoldDate {
    font-weight:bold;
}

.CommentsCol {
    text-align:center;
    width: 250px;
}

.MessageCol {
    text-align:center;
    width: 100%;
}

.DetFormView{
    border: solid 1px white;
}

.TblEmptyData {
	border: solid 1px white;
	width:100%;
}

#dvPleaseWait {
    position:absolute; 
    width:99%; 
    height:99%;
    background: url(Images/TransparentBack.png);
    background-repeat: repeat;
    color: Black;
    font-weight: bold;
    display:none;
}

.ShowStatus{
    text-align: left;
    font-weight: bold;    
}

.MinWidth {
    width:0%;
}

#tdPrint {
    text-align: right;
}

#tdInfo {
    text-align:center;
    width: 30%;
}

.tdBelowTitle {
    text-align:center;
    padding-top: 8px;
    padding-bottom: 6px;
}

#tblStatus {
    border: solid 1px #CCCCCC;
}

#tblStatus td {
    text-align:left;
}

.btnUpdStatus {
    background: url(Images/icons/Update1_16x16.png);
    background-repeat:no-repeat;
    background-color: #DDDDDD;
    width:21px;
    height:21px;
}

.btnCheckAll {
    background: url(Images/icons/Approve2_16x16.png);
    background-repeat:no-repeat;
    background-color: #DDDDDD;
    width:21px;
    height:21px;
}

.txtMassiveImport {
    height:200px;
    width:98%;
}

.lblHelpIds {
    border: none;
    width:30px;
    text-align:center;
}

#LoginFirstTable {
    color: White;
    width: 460px;
    /*border: solid 1px black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-collapse: separate;
    background-color: #943839;
    box-shadow: 10px 10px 10px #000000;
    -moz-box-shadow: 10px 10px 10px #000000;
    -webkit-box-shadow: 10px 10px 10px #000000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 10%, from(#F49899), to(#943839));
    background-image:-moz-linear-gradient(bottom, #943839 90%, #F49899);*/
}

#LoginSecondTable {
    color: White;
    width: 400px;
    /*border: solid 1px black;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-collapse: separate;
    background-color: #943839;
    box-shadow: 10px 10px 10px #000000;
    -moz-box-shadow: 10px 10px 10px #000000;
    -webkit-box-shadow: 10px 10px 10px #000000;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 10%, from(#F49899), to(#943839));
    background-image:-moz-linear-gradient(bottom, #943839 90%, #F49899);*/
}

#tdError1 {
    background-image: -webkit-gradient(linear, left center, right center, from(#355379), to(#943839));
    background-image:-moz-linear-gradient(left center, #355379, #943839);
}

.tdError2 {
    height: 198px; 
    text-align:center;
    background-color: #943839;
    font-weight: bold;
}

#tdError3 {
    background-image: -webkit-gradient(linear, right center, left center, from(#456389), to(#943839));
    background-image:-moz-linear-gradient(right center, #456389, #943839);
}

.MaxWidth80px{
    max-width: 80px;
}

.MaxWidth120px{
    max-width: 120px;
}

#dvTransTest {
    background-color: Gray;
    color: white;
    height: 30px;
    width: 200px;
    -webkit-transition: all 1000ms ease-in-out;
}

#dvTransTest:hover {
    background-color: white;
}

#dvTransTest:hover a{
    color: Black;
}

#LoginFrame {
    width: 800px;
    height: 550px;
}

#tblUsrPass {
    height:80px;
}

#tblUsrPass td {
    vertical-align: bottom;
}

#tblUsrPass input[type=text] {
    background-color: White;
    border: groove 3px #CCCCCC;
}

#tblUsrPass input[type=password] {
    background-color: White;
    border: groove 3px #CCCCCC;
}

#LoginSecondTable input[type=text] {
    background-color: White;
    border: groove 3px #CCCCCC;
}

#tdBottomLogo {
    text-align:right; 
    vertical-align:top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1, #ADB9C8), color-stop(0.66, #355379), color-stop(0.83, #95A5B8), color-stop(0.95, #EEF0F3));
    background-image: -moz-linear-gradient(center bottom, #ADB9C8 10%, #355379 66%, #95A5B8 83%, #EEF0F3 95%);
    border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	padding-right: 5px;
    /*border: solid 1px black;*/
    box-shadow: 1px 1px 1px #000000;
    -webkit-box-shadow: 1px 1px 1px #000000;
    -moz-box-shadow: 1px 1px 1px #000000;
}

#tdBottomLogo div {
    -webkit-box-reflect: below 5px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.25)));
}

#tdBottomLogo a {
    font-weight: bold;
    text-decoration: none;
}

#tdLogoff {
    width:100%; 
    text-align: right; 
    vertical-align: bottom; 
    background-color: White;
    /*background-image: -webkit-gradient(linear, left bottom, right bottom, color-stop(0.1, white), color-stop(0.9, #355379), color-stop(0.9, transparent));*/
}