body {
	background-color: #355379;
	background-image: url(Images/Background.png);
	font: normal 10pt Tahoma, Calibri, Verdana;
	color: #FFFFFF;	
}

table {
    width:100%;
}

a {
	color: #EEEEEE;
}


a:hover {
    color: White;
}

.gvMnuHeader {
    background:#842829;
    border: solid 1px #355379;
}

#tdMenu {
    vertical-align: top;
    border-top: solid 2px white;
}

#tdChild {    
    width:100%;
    text-align:center;
    vertical-align:top;
    border-top: solid 2px white;
}

#tblLogin {
    border-collapse:collapse;
    border-top: solid 3px #AAAAAA;
    border-left: solid 3px #AAAAAA;
    border-right: solid 3px #666666;
    border-bottom: solid 3px #666666;
}

#tblMain {
    width: 100%;
}

#tblMain td {
    /*border-right: solid 1px white;*/
    padding-right: 5px;
}

#tblMain input {
    width: 95%;
}

.title {
    text-align: center;
    background-color:#788CA5;
	padding: 5px 0px 5px 0px;
	border: 1px solid #FFFFFF;
	font-size:large;
	font-weight:bolder;
	color: white;
}

.smalltitle {
    text-align: center;
    background-color:#788CA5;
	padding: 5px 0px 5px 0px;
	border: 1px solid #FFFFFF;
	color: white;
	font-weight:bold;
}

.message {
    font-size: 12pt;
    color: Yellow;
    text-align:center;
}

#dvMenu {
    /*background-color: #788CA5;
    padding: 1px 1px 1px 1px;*/
    width:200px;
}

#dvMenu a {
    color: black;
    height:23px;
}

#dvMenu tr:hover {
	background: url(Images/BlueGradTopBottom.png) repeat-x;
}

.MenuItem {
    height:25px;
    background: url(Images/GrayGradTopBottom3.png) repeat-x;
    color: black;
    border-top: none 0px;
    border-left: none 0px;
    border-right: none 0px;
    border-bottom: none 0px;
    padding: 0px 2px 0px 0px;
}

.TabMenuItem {
    /*background: url(Images/GrayButton.png) repeat-x;
    background: url(Images/TabBackImage.png) repeat-x;*/
    border: none 0px;
    padding: 0px 2px 0px 0px;
}

.TabMenuItemSelected {
    height:25px;
    background-color:#355379;
    color: black;
    border: none 0px;
    padding: 0px 20px 0px 0px;
}

#mnuHeader {
    vertical-align:bottom;
    width: 100%;
}

.tblInset{
    border: inset 2px white; 
    background-color: #586C85;
}

.YellowBold {
    color:Yellow;
    font-weight: bold;
}

#mnuMain {
 /*   border-left: solid 2px white;
    border-top: solid 1px white;*/
    border-bottom: solid 10px #842829;
}

#mnuInterMediate {
/*    border-right: solid 2px white;
    border-bottom: solid 1px white;*/
    width: 100%;
}

#tdMessage
{
    font-size:large;
    color:Yellow;
    text-align:center;
}

#subPageMainTable {
    width:95%;
}

.ErrorMessage {
    color: Yellow;
}

.InsertRow {
    background-color: #D2B48C; /*This is the colour 'Tan'*/
}

.InsertHeader {
    background-color: #355379;
    color:White;
    font-weight:bold;
}

.InsertTabHeader {
    background-color: #233D63;
    color:White;
    font-weight:bold;
}

.gvRow {
	height:30px;
}

#tdSubMenu{
	text-align:left;
}

#tdSubMenu a {
    color: #AAAAAA;
}

#tdSubMenu a:hover {
    color:White;
}


#tdSubMenu table {
    width:0%;
}

#tblDetails{
	
}

#tblDetails td{
	border:solid 1px #2C486E;
}

.tblDetailsHeader
{
	background-color: #FFFBDA;
	color: Black;
	text-align:left;
	width:0%;
	white-space:nowrap;
}

.tblDetailsItem {
	background-color: #EAEAEA;
	color: Black;
	width:50%;
	padding-left: 10px;
	text-align:left;
}

#tdAttachments a{
    color:black;
}

#tdAttachments a:hover{
    color:#842829;
}

#tdMeetings a{
    color:black;
}

#tdMeetings a:hover{
    color:#842829;
}

#tdAP a{
    color:black;
}

#tdAP a:hover{
    color:#842829;
}

#tblCngPass {
    background-color: #E4E4C0;
    width:350px;
    border-top: solid 3px #AAAAAA;
    border-left: solid 3px #AAAAAA;
    border-right: solid 3px #666666;
    border-bottom: solid 3px #666666;
    color:Black;
}

.RedDate {
    color: Red;
    font-weight:bold;
}

.CommentsCol {
    width: 250px;
}
