body {
	background-color: #355379;
	background-image: url(Images/Background.png);
	font: normal small Tahoma, Verdana;
	color: #FFFFFF;
}

a {
	color: #EEEEEE;
}

a:hover {
    background: url(Images/blue.png) repeat-x;
	/*background-color: #355379;*/
}

.BlueGrad {
    /*background: url(Images/blue.png) repeat-x;    
    height:25px;
    font-size:11pt;*/
    background:#842829;
    border: solid 1px #355379;
}

#child {
    width:100%;
    text-align:center;
    vertical-align:top;
}

#tblLogin {
    border: none;
    border-collapse: separate;
    width: 200px;
}

#tblLogin td {
    text-align:left;
    padding: 1px 1px 1px 3px;
}

#tblMain {
    width: 100%;
}

#tblMain td {
    border-right: solid 1px white;
    padding-right: 5px;
}

#tblMain input {
    width: 95%;
}

.title {
    text-align: center;
    background-color:#788CA5;
	padding: 5px 0px 5px 0px;
	border: 1px solid #FFFFFF;
	font-size:large;
	font-weight:bolder;
	color: white;
}

.smalltitle {
    text-align: center;
    background-color:#788CA5;
	padding: 5px 0px 5px 0px;
	border: 1px solid #CCCCCC;
	color: white;
}

.message {
    font-size: 14pt;
    color: Yellow;
    text-align:center;
}

#dvMenu {
    /*background-color: #788CA5;
    padding: 1px 1px 1px 1px;*/
    width:150px;
}

#dvMenu a {
    color: black;
}

#dvMenu td:hover {
    background: url(Images/blue.png) repeat-x;
}

#dvMenu a:hover {
    color: White;
}

.SelectedMenuItem {
    background: url(Images/blue.png) repeat-x;
    color: White;
}

.MenuItem {
    height:20px;
    background: url(Images/GrayButton.png) repeat-x;
    color: black;
    border: solid 1px #355379;
}

#mnuHeader {
    /*color: #842829;*/
    vertical-align:bottom;
    width: 100%;
    /*border-bottom: solid 2px #355379;
    background-color: #E4E4C0;*/
}

.tblInset{
    border: inset 2px white; 
    background-color: #586C85;
}
